################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BP.DataService.WinService/bin
/BP.DataService.WinService/obj
/BP.DataService.WebService/bin
/BP.DataService.WebService/obj
/BP.Point.App/bin
/BP.Point.App/obj
/BP.Administrator.App/bin
/BP.Administrator.App/obj

/Common/BP.Common.Controls/bin
/Common/BP.Common.Controls/obj

/Administrator/BP.Administrator.Interfaces/bin
/Administrator/BP.Administrator.Interfaces/obj
/Administrator/BP.Administrator.Login/bin
/Administrator/BP.Administrator.Login/obj
/Administrator/BP.Administrator.Splash/bin
/Administrator/BP.Administrator.Splash/obj

/DataLayer/BP.DataLayer.Base/bin
/DataLayer/BP.DataLayer.Base/obj
/DataLayer/BP.DataLayer.BusinessObjects/bin
/DataLayer/BP.DataLayer.BusinessObjects/obj
/DataLayer/BP.DataLayer.DataProviders/bin
/DataLayer/BP.DataLayer.DataProviders/obj
/DataLayer/BP.DataLayer.Interfaces/bin
/DataLayer/BP.DataLayer.Interfaces/obj
/DataLayer/BP.DataLayer.Tools/bin
/DataLayer/BP.DataLayer.Tools/obj
/DataLayer/Databases/BP.DataLayer.Databases.Base/bin
/DataLayer/Databases/BP.DataLayer.Databases.Base/obj
/DataLayer/Databases/BP.DataLayer.Databases.Interfaces/bin
/DataLayer/Databases/BP.DataLayer.Databases.Interfaces/obj
/DataLayer/Databases/BP.DataLayer.Databases.MSSQL/bin
/DataLayer/Databases/BP.DataLayer.Databases.MSSQL/obj

/DataService/BP.DataService.WinService.Interfaces/bin
/DataService/BP.DataService.WinService.Interfaces/obj
/DataService/BP.DataService.WinService.Contracts/bin
/DataService/BP.DataService.WinService.Contracts/obj
/DataService/BP.DataService.WinService.Channels/bin
/DataService/BP.DataService.WinService.Channels/obj
/DataService/BP.DataService.Interfaces/bin
/DataService/BP.DataService.Interfaces/obj
/DataService/BP.DataService.Common/bin
/DataService/BP.DataService.Common/obj
/DataService/BP.DataService.Base/bin
/DataService/BP.DataService.Base/obj
/DataService/BP.DataService.Plugins.Interfaces/bin
/DataService/BP.DataService.Plugins.Interfaces/obj
/DataService/Plugins/BP.DataService.Plugins.Users/bin
/DataService/Plugins/BP.DataService.Plugins.Users/obj

/Point/BP.Point.Interfaces/bin
/Point/BP.Point.Interfaces/obj

/WebSite/BP.WebSite.Interfaces/bin
/WebSite/BP.WebSite.Interfaces/obj

/Debug/BP.DataService.WinService.Console/bin
/Debug/BP.DataService.WinService.Console/obj
/Debug/BP.DataService.TestClientApp.DebugConsole/bin
/Debug/BP.DataService.TestClientApp.DebugConsole/obj
/Point/BP.Point.Data/bin/Debug
/Point/BP.Point.Data/obj/Debug
/Point/BP.Point.Operations/obj/Debug
/Point/BP.Point.Operations/bin/Debug
