<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="dbconfig" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Server.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <dbconfig>
    <add key="sqlServerName" value="ETGD\SQLEXPRESS" />
    <add key="dbName" value="BP_Dev_01" />
    <!-- Use '1' if need to use a Windows Authentication or use '0' for Sql Server Authentication -->
    <add key="windowsAuth" value="0" />
    <add key="dbUserName" value="BPUser" />
    <add key="dbUserPassword" value="123456" />
    <!-- Set '0' if Connection type is 'TCP/IP', '1' is 'NamedPipes', '2' is 'SharedMemory' -->
    <add key="connectionType" value="0" />
  </dbconfig>
</configuration>